<a href="https://colab.research.google.com/github/mcds04/CV---MCDS/blob/main/RespostasDoExercicio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = ("Cris ")
print("Seu nome é", nome)

Seu nome é Cris

In [ ]:
polegadas = float(input("Quantas polegadas? "))
print(f"{polegadas} polegadas equivalem a {polegadas * 25.4} milímetros.")

Quantas polegadas? 1
1.0 polegadas equivalem a 25.4 milímetros.

In [ ]:
nome = input("Maria Cristina Sousa ")

sobrenome = nome.split()[-1]
nome_de_batismo = nome.split()[0]

print(f"Seu nome é {sobrenome} {nome_de_batismo}.")

Maria Cristina Sousa Maria Sousa
Seu nome é Sousa Maria.

In [ ]:
import math
s1 = float(input("Digite o comprimento do lado 1: "))
s2 = float(input("Digite o comprimento do lado 2: "))
s3 = float(input("Digite o comprimento do lado 3: "))
t = (s1 + s2 + s3) / 2
area = math.sqrt(t * (t - s1) * (t - s2) * (t - s3))
print(f"A área do triângulo é {area}.")

Digite o comprimento do lado 1: 3
Digite o comprimento do lado 2: 4
Digite o comprimento do lado 3: 5
A área do triângulo é 6.0.

In [ ]:


notas = [float(input("Digite a nota: ")) for i in range(4)]

media = sum(notas) / len(notas)

print(f"A média aritmética é: {media:.2f}")

Digite a nota: 8
Digite a nota: 9
Digite a nota: 7
Digite a nota: 6
A média aritmética é: 7.50

In [ ]:
def nome_completo(nome):


  if not nome:
    return ""

  nomes = nome.split()
  if len(nomes) < 2:
    return nome

  return nomes[-1] + " " + nomes[0]


print(nome_completo("Maria Sousa"))
print(nome_completo(""))
print(nome_completo("Maria"))

Sousa Maria

Maria

In [ ]:
def calcula(numero1, numero2):
    soma = numero1 + numero2
    subtracao = numero1 - numero2
    multiplicacao = numero1 * numero2
    if numero2 != 0:
        divisao = numero1 / numero2
    else:
        divisao = "Erro: Divisão por zero não é permitida."

    return soma, subtracao, multiplicacao, divisao


soma, subtracao, multiplicacao, divisao = calcula(float(input("Digite o primeiro número: ")),
                                                    float(input("Digite o segundo número: ")))

print(f"Soma: {soma}")
print(f"Subtração: {subtracao}")
print(f"Multiplicação: {multiplicacao}")
print(f"Divisão: {divisao}")

Digite o primeiro número: 10
Digite o segundo número: 0
Soma: 10.0
Subtração: 10.0
Multiplicação: 0.0
Divisão: Erro: Divisão por zero não é permitida.

In [ ]:
salario_atual = float(input("Digite o salário atual do funcionário: "))

reajuste = salario_atual * 0.15

salario_reajustado = salario_atual + reajuste

print(f"O salário reajustado é de R$ {salario_reajustado:.2f}")

Digite o salário atual do funcionário: 1000
O salário reajustado é de R$ 1150.00

In [ ]:
A = input("Digite o valor para A: ")
B = input("Digite o valor para B: ")
print(f"Valores originais: A = {A}, B = {B}")
A, B = B, A
print(f"Valores trocados: A = {A}, B = {B}")

Digite o valor para A: 1
Digite o valor para B: 0
Valores originais: A = 1, B = 0
Valores trocados: A = 0, B = 1

In [ ]:
cotacao_dolar = float(input("Digite a cotação do dólar (US$ para R$): "))
quantidade_dolares = float(input("Digite a quantidade de dólares: "))

valor_reais = quantidade_dolares * cotacao_dolar

print(f"{quantidade_dolares} dólares valem {valor_reais:.2f} reais.")

Digite a cotação do dólar (US$ para R$): 5.50
Digite a quantidade de dólares: 100
100.0 dólares valem 550.00 reais.

In [ ]:
valor_compra = float(input("Digite o valor total da compra: R$ "))

numero_prestacoes = input("Digite o número de prestações: ")
numero_prestacoes = int(numero_prestacoes)

valor_prestacao = valor_compra / numero_prestacoes

print(f"O valor de cada prestação será de: R$ {valor_prestacao:.2f}")

Digite o valor total da compra: R$ 1000
Digite o número de prestações: 5
O valor de cada prestação será de: R$ 200.00